@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

.linear-gradient-green {
  background: linear-gradient(to right, rgb(74, 222, 128), rgb(6, 182, 212));
}

.linear-gradient-pink {
  background: linear-gradient(rgb(255, 28, 247), rgb(178, 73, 248));
}
